Human NamePlayer1 : idHand1 idHand2 idHand3 idHand4 idHand5 idHand6 ; idHandicap1
Easy Player2 : idHand1 idHand2 idHand3 idHand4 idHand5 idHand6 ; idHandicap1 idHandicap2 
Easy Player3 : idHand1 idHand2 idHand3 idHand4 idHand5 idHand6 ; idHandicap1 idHandicap2 idHandicap3
Easy Player4 : idHand1 idHand2 idHand3 idHand4 idHand5 idHand6 ; 
###
idCard1 : 1 0 N (Relative position to start position and N to normal or R to reversed card)
idCard2 : 2 0 R
idCard3 : 1 1 N
idCard4 : 2 1 N
idCard5 : 3 1 N
idCard6 : 2 2 R
###
nbCardInStack ("X" if not used)
nameCurrentPlayer
numRound
###